<!DOCTYPE html>
<html lang="pt-br">
{% extends "base.html"%}
{% load static %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        teste
    </title>

    {% block 'cabeçalho'%}
    <link rel="stylesheet" href="{% static 'css/css_geral.css'%}">
    <h1>Empty Page</h1>
    {% endblock %}

    {% block 'cabeçalho2'%}
    {% endblock %}

</head>

<body>
    {% block 'conteudo' %}

    <form action="{% url 'cadastro' %}" method="POST">

        {% csrf_token %}
        <input type="number" placeholder="ID" name="ID">
        <input type="text" placeholder="Nome" name="nome">
        <input type="text" placeholder="Email" name="email">
        <input type="text" placeholder="ID do cargo" name="numero_id">
        <input type="text" placeholder="Nome do cargo" name="cargo_name">
        <input type="text" placeholder="Lotacao" name="lotacao">
        <input type="password" placeholder="Senha" name="senha">
        <input type="submit" placeholder="Enivar">

    </form>

    {% endblock %}

</body>

</html>