<!DOCTYPE html>
<html lang="pt-br">
{% extends "base.html"%}
{% load static %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    {% block 'cabeçalho'%}
    <link rel="stylesheet" href="{% static 'css/css_geral.css'%}">
    <h1>Inicio</h1>
    {% endblock %}

    {% block 'cabeçalho2'%}
    <P>teste</P>
    {% endblock %}

</head>

<body>

    <p>123456</p>
    {% block 'corpo1' %}
    <!-- <img src="{% static 'img/imagem1.png'%}" alt=""> -->
    {% endblock %}
</body>

</html>