<!DOCTYPE html>
<html lang="pt-br">
{% extends 'base.html' %}
{% load static %}
{% load filters %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem</title>
</head>

<body>

    {% block 'listagem' %}
    <h1>Nomes cadastrados:</h1>
    <div>
        <hr>
        {% for pessoa in pessoas %}
        <p>ID: {{pessoa.id |string_has_none}}</p>
        <p>Nome: {{pessoa.nome |filter_one |string_has_none}}</p>
        <p>Email : {{pessoa.email |string_has_none}}</p>
        <p>Senha : {{pessoa.senha |string_has_none}}</p>
        <p>Cargo : {{pessoa.cargo.first.nome |string_has_none}}/{{pessoa.cargo.first.lotacao |string_has_none}}</p>
        <hr>
        {% endfor %}
    </div>
    {% endblock %}

</body>

</html>